$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

$VIOLET: #8d85e5;
$ORANGE: #ff3d00;
$BEIGE: #eac490;
$SKY: #57b7f2;
$MINT: #59d9d9;
