@use '/src/styles/constants/colors';
@use '/src/styles/mixins/animation';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/flexbox';

.wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(colors.$VIOLET, colors.$SKY);
}

.mainWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 70px 10px 100px;
}
